body{
	background-color:lightpink ;
}

	h1{
	font-size: 50px ;
	color:indianred;
	font-family: "Inter", sans-serif;;
	}
	a{color:indianred;
	}

	p{font-family: "Inter", sans-serif;
	}
	p2{font-family: "Inter", sans-serif;
	}

	}
	
	h2{  font-family: "Inter", sans-serif;
}
	h3{    font-family: "Dancing Script", cursive;
}
h4{    font-family: "Dancing Script", cursive
}


div{
	text-align: center;
}
div{
	margin: 80px;
	padding: 40px;
	border-radius: 40px;
 }

 .projet {
	border: 5px solid indianred;

 }


 #logo {
 	width: 40px;
 	height: 40px;
 }

 img {
 	width: 90%;

 }
 img {margin-top: 10px ;
 		margin: 10px;
	
 }
 .card {
 	display: flex;
 	align-items: center;
 	justify-content: left;
 	padding: 10px;
 }
 .card img {
 	width: 70%;


 }
 .card p2 {
 	padding-left: 10px;
 	padding-right: 10px;
 	padding-bottom: 10px;
 	padding-top: 10px;
 }
 p2{background-color: indianred;
 	border-radius: 20px;
 }
 #mercedes {
 	height: 220px;
 width: 340px;

 }

 #petittexte {
 	 height: 50px;
 width: 50px;

 }

